<div class="card">
    <div class="card-body">
        <h1> About </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, magni laborum assumenda fugit nesciunt unde a sapiente in temporibus expedita, accusantium vel inventore minus ipsam! Necessitatibus consequatur ad voluptates natus itaque ex, quasi neque consequuntur laudantium distinctio unde saepe provident.</p>
    </div>
</div>