<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4"> Note App NodeJS And Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente corporis pariatur, quo ab rerum quisquam numquam, eos quae perferendis explicabo quia enim iure autem aut facere ad accusamus modi voluptate. </p>
    <a href="https://google.com" class="btn btn-primary btn-lg ">Google.com</a>
</div>

